body {

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    background: url("../background/wood.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    outline: none;

}

@media only screen and (max-width: 500px) {
    body {
        font-size: 50%;
    }
}

/*Wenn Display klein wird*/
@media only screen and (max-width: 1055px) {
    .grid-box {
        display: grid;
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        grid-template-columns: 5% Auto 40% Auto 5%;
        grid-template-rows: 50px 10% 40% 45% Auto Auto;
    }

    .topNav {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;

    }
    .titel{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .footer-basic-centered {

        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    .cover {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;

    }

    .img, input{
        margin: 8px;
        width: 12vw; /*23.45vw*/
        height: 12vw;
        float: left;
        position: relative;
        object-fit: cover;
        border-radius: 5%;
        outline: none;
    }


}

/*Wenn Display gross genug ist*/
@media only screen and (min-width: 1055px) {
    .grid-box {
        display: grid;
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        grid-template-columns: 1% Auto 1% ;
        grid-template-rows: 50px 250px Auto 225px;
        outline: none;
    }

    .topNav {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;

    } .titel{
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 2;
          grid-row-end: 3;
      }


    .footer-basic-centered {

        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;

    }

    .cover {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;

    }

    .img {
        margin: 8px;
        width: 15vw; /*23.45vw*/
        height: 15vw;
        float: left;
        position: relative;
        object-fit: cover;
        border-radius: 5%;
        outline: none;
    }
    #logo{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }

}


/*Design des Titels*/
.titel {
    color: cornflowerblue;
    font-family: "Arial Rounded MT Bold";
    font-size: 3vmax;
    margin-right: 30%;
    outline: none;

}
#logo{
    width: 35%;
    height: 70%;
    float: left;
    margin-right: 0%;
    outline: none;

}
/* Add a black background color to the top navigation */
.topNav {
    background-color: #333;
    overflow: hidden;
    padding: 0;
    outline: none;
}

/* Style the links inside the navigation bar */


.topNav input {
    background-color: #333;
    border-color: #333;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 180%;
    border: none !important;
    height:50px;
    min-width: 15vmin;
    max-width: 16vmax;
    position: relative;
    float: left;
    margin-left: 10px;
    outline: none;
}


::placeholder {
    color: #f2f2f2;
    outline: none;
}


#shuffle{
    outline: none;
    padding: 10px 12px;
    font-size: 180%;
    border: none !important;
}

.topNav .search-container {
    float: right;
    outline: none;

}

.topNav input[type=text] {
    padding: 6px;
    margin-top: 0px;
    font-size: 180%;
    outline: none;
    color: #292c2f;
    background-color: white;
    border: none !important;
}
::placeholder{
    outline: none;
    color: #8d9093;
}
.topNav .search-container button {
    float: right;
    padding: 15px 25px;
    margin-top: 0px;
    margin-right: 0px;
    background: dodgerblue;
    font-size: 17px;
    border: none;
    cursor: pointer;
    outline: none;
}

.topNav .search-container button:hover {
    background: deepskyblue;
    outline: none;
}


/* Change the color of links on hover */
.topNav input:hover {
    background-color: #ddd;
    color: black;
    transition: 200ms;
    outline: none;
}

/* Add a color to the active/current link */
.topNav input.active{
    color: white;
    outline: none;
}

.footer-basic-centered {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width:100vw;
    margin: 0;
    text-align: center;
    font: normal 18px sans-serif;
    outline: none;
    padding: 45px;
}

.footer-basic-centered .footer-company-motto {
    color: lightgray;
    font-size: 20px;
    margin: 0;
    outline: none;
}

.footer-basic-centered .company {
    color: #8d9093;
    font-size: 20px;
    margin: 0;
    outline: none;
}

.footer-basic-centered .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
    outline: none;
}

.footer-basic-centered .footer-links {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    padding: 35px 0 23px;
    margin: 0;
    outline: none;
}

.footer-basic-centered .footer-links a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    outline: none;
}


