body{
    display: grid;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    background-image: url("../background/background1.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    outline: none;

}


@media only screen and (max-width: 500px) {
    body {
        font-size: 50%;
    }
}

/*Wenn Display klein wird*/
@media only screen and (max-width: 1055px) {

    .grid-box {
        display: grid;
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        grid-template-columns: 20% 10% 10% Auto 145px;
        grid-template-rows: 50px 10% 50% 45% Auto Auto;

    }

    .topNav {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;

    }
    .audio{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 6;
    }

    .knopf{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }


}

/*Wenn Display gross genug ist*/
@media only screen and (min-width: 1055px) {
    .grid-box {
        display: grid;
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        grid-template-columns: 30px 30px 500px Auto 500px 10px;
        grid-template-rows: 50px 10% 450px Auto 225px;
    }

    .topNav {

        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .audio{
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 3;
        grid-row-end: 6;
    }
    .sound{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;

    }
    .knopf{
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .playlistliste{
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 2;
        grid-row-end: 3;
    }

}



/* Add a black background color to the top navigation */
.topNav {
    background-color: #333;
    overflow: hidden;
    padding: 0;
    outline: none;

}

/* Style the links inside the navigation bar */


.topNav input {
    background-color: #333;
    border-color: #333;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 180%;
    border: none !important;
    height:50px;
    min-width: 15vmin;
    max-width: 16vmax;
    position: relative;
    float: left;
    margin-left: 10px;
    outline: none;

}


::placeholder {
    color: #f2f2f2;
    outline: none;
}
#shuffle{

    padding: 10px 12px;
    font-size: 180%;
    border: none !important;
    outline: none;

}

.topNav .search-container {
    float: right;
    outline: none;

}

.topNav input[type=text] {
    padding: 6px;
    margin-top: 0px;
    font-size: 180%;

    color: #292c2f;
    background-color: white;
    border: none !important;
    outline: none;
}
::placeholder{
    color: #8d9093;
    outline: none;
}
.topNav .search-container button {
    float: right;
    padding: 15px 25px;
    margin-top: 0px;
    margin-right: 0px;
    background: dodgerblue;
    font-size: 17px;
    border: none;
    cursor: pointer;
    outline: none;
}

.topNav .search-container button:hover {
    background: deepskyblue;
    outline: none;
}


/* Change the color of links on hover */
.topNav input:hover {
    background-color: #ddd;
    color: black;
    transition: 200ms;
    outline: none;
}

/* Add a color to the active/current link */
.topNav input.active{
    color: white;
    outline: none;
}

#next-songs ul{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#current{
    background-color: chocolate;
}

#next-songs ul li{
    list-style: none;
    background-color: blue;
}

#next-songs ul li:nth-child(even) {
    background-color: cornflowerblue;
}

table{
    margin-left: 0;
    border: none;
    /*
    border-color: white;
    border-style: groove;
    border-width:  3px;
    */
    font-size: 150%;
    outline: none;
}

th, td {
    outline: none;
    border: none;
    /*
    border-color: white;
    border-style: groove;
    border-width:  3px;
    */
    color: white;
}
#mitte{
    outline: none;
    border: none;
    color: white;
}
#inhalte{
    outline: none;
    border: none;
    color: white;
}
#player{
    text-decoration: none;
    color: white;
    text-shadow: black;
    font-size: 400%;
}


th{
 text-decoration: underline overline;
  padding: 0px 75px;
    font-size: 190%;
    font-weight: bold;
    color: white;

}
td{
    font-size: 100%;
    font-weight: lighter;
    text-align:center;
    color:white;
}
.tableForm{
    border: transparent;
    background: transparent;
    font-size: 100%;
    font-weight: bold;
    color: white;
}

.buttoncool{
    height: 40px;
    width: 70px;
    border-radius: 12px;
    float: left;
    outline: none;
    background-color: goldenrod;
    border-color: goldenrod;
}
#play{

    margin-top: 280px;
    margin-left: 125px;
    position: fixed;
}
#pause{
    margin-top: 280px;
    margin-left: 300px;
    position: fixed;
}
#reset{

}
#up{

}
#down{

}
#mute{
    margin-top: 220px;
    margin-left: -120px;
    position: fixed;

}
#unmute{
    margin-top: 220px;
    margin-left: -10px;
    position: fixed;
}
#speed{

}
