@media only screen and (max-width: 500px) {
    body {
        font-size: 40%;
    }
}

/*Wenn Display klein wird*/
@media only screen and (max-width: 800px) {
    .grid-box {
        display: grid;
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        grid-template-columns: 20% Auto 10% Auto 145px;
        grid-template-rows: 5% 10% 40% 45% Auto Auto;
    }

    .topNav {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 0;
        grid-row-end: 1;

    }
}

@media only screen and (min-width: 800px) {
    .grid-box {
        display: grid;
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        grid-template-columns: repeat(12, 8%) 4%;
        grid-template-rows: 50px repeat(9, 8%) 100px;
    }

    .topNav {
        grid-column-start: 1;
        grid-column-end: 14;
        grid-row-start: 1;
        grid-row-end: 2;

    }
}

#juke{
    justify-content: center;
}
#next-songs{
    display:grid;
    background-color: black;
}

#next-songs:nth-child(even) {
    background-color: gray;
}