/*Wenn Breite des Bildschirms kleiner als 500px ist (Handy Ansicht)*/
@media only screen and (max-width: 500px) {
    body {
        font-size: 50%;
    }

    #content{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        margin:auto;
    }
}

/*Wenn Breite des Bildschirms kleiner als 1055px ist (Tablet Ansicht)*/
@media only screen and (max-width: 1055px) {
    #content{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
        justify-content: center;
    }

    img{
        grid-column-start: 1;
        grid-column-end: 2;
    }
}

/*Wenn Breite des Bildschirms grösser als 1055px ist (Laptop Ansicht)*/
@media only screen and (min-width: 1055px) {
    #content{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        height: 50%;
        width: 70%;

    }

}
#content{
    font-family: "Arial Rounded MT Bold";
}

#content h2{
    color: cornflowerblue;
    font-size: 2.75vmax;
}

#content p{
    color: cornflowerblue;
    font-size: 1.75vmax;
}